robot-agent/
data/tts_runtime/
.env

configs/app.yaml
configs/app copy.yaml

# Python bytecode / caches
__pycache__/
*.pyc
*.pyo
*.pyd

# 大型模型、权重与二进制包
emotion_models/
rknn_wheels/
sherpa-onnx-sense-voice-zh-en-ja-ko-yue-2024-07-17/
voice_print/
script/path/*.json
